* {
    box-sizing: border-box;
}

.colorGraduado {
    background-image: linear-gradient(to bottom, #0cb3d1, #e4f4f7 70%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Inter;
    font-weight: 800;
    font-style: italic;

}

.pointer {
    cursor: pointer;
}

.active-alergen {
    background-color: #f9f9f9;
}

.active-icon {
    float: right;
    margin-right: 1rem;
}

html,
body {
    min-width: 375px;
    height: 100vh;
    /* O cualquier otro valor que desees */
}



/*Fondo del login y del registro*/
#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

/*Parte de los formularios del login como de el regsitro-------------------*/

.formulario {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: 30px;
    border: 3px solid white;
    opacity: 0.7;
    margin-bottom: 9.4rem;
}

.formulario>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 3rem 0;
    width: 100%;
}

.formulario>form input {
    width: 80%;
    margin: 1rem 0;
    border-radius: 10px;
    height: 2.5rem;
}

.formulario>h1 {
    color: white;
    align-self: center;
    margin-top: 1.5rem;
    font-weight: bolder;
}

.formulario>form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.formulario>form>div>button {
    width: 80%;
}

.formulario>form>.containerPassword {
    position: relative;
    display: inline-block;
    width: 80%;
    margin: 0;
    padding: 0;
}

.formulario>form>.containerPassword>input {
    width: 100%;
}

.formulario>form>.containerPassword>img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.formulario>form>.containerPassword>:nth-child(3) {
    display: none;
}

.formulario small {
    visibility: hidden;
    font-size: 0.7rem;
    color: yellow;
}

.formulario>form>.error{
    margin: 0;
    color: red;
    font-weight: bold;
}

.formulario>form>span {
    color: white;
    margin-top: 1rem;
}

/*Parte de la pagina principal-----------------------------*/
#productos {
    display: none;
}

#productos-movil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-size: cover;
    margin-top: 4rem;
}

/*Cabecera Titulo*/
#productos-movil>#content-header-movil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

#productos-movil>#content-header-movil>h1,
h2 {
    text-align: center;
    font-family: 'Luckiest Guy', sans-serif;
}

#productos-movil>#lista {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: end;
    width: 90%;
    margin-top: 3rem;
}

#productos-movil>#seleccion {
    display: flex;
    flex-flow: row wrap;
    align-items: end;
    justify-content: center;
    width: 90%;
    margin: 3rem 0;
}

#productos-movil>#seleccion>a {
    text-decoration: none;
    color: black;
    font-family: 'Oswald Stencil';
    font-size: small;
    padding: 10px;
    flex: 20% 0;
}

#productos-movil>#seleccion>a>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
}

#productos-movil>#seleccion>a img {
    width: 100px;
}

#productos-movil>#lista>a {
    text-decoration: none;
    color: black;
    font-size: small;
    padding: 10px;
    height: auto;
    flex: 20% 0;
}

#productos-movil>#lista>a>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.image-imagen {
    height: 80%;
    width: 100%;
}

.image-imagen>img {
    height: auto;
    max-width: 100%;
    min-width: 80px;
}

.image-span {
    display: flex;
    flex-direction: column;
    height: 20%;
    margin-top: 1rem;
}

.image-span>span {
    font-family: 'Oswald Stencil';
    font-size: smaller;
}

.seleccionado {
    color: #0CB3D1;
    border: 2px solid #0CB3D1;
    border-radius: 6px;
}

/*-----------Cabecera---------------*/
header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-bottom: 2px solid lightgrey;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

header>a {
    display: flex;
    justify-content: center;
}

header>a>div {
    width: 100%;
}

header>a>div>img {
    width: 100px;
}

header>#menu-escritorio {
    display: none;
}

header>#menu {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-end;
    align-items: center;
}

header>#menu>img {
    margin-right: 5%;
    cursor: pointer;
}

header>#menu>a {
    margin-right: 5%;
    cursor: pointer;
    position: relative;
}

#cart_menu_num {
    position: absolute;
    bottom: -5px;
    left: 55%;
    background: #f1ac43;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 4px;
    font-size: xx-small;
}

header>#menu>#close-icon {
    display: none;
    cursor: pointer;
}

header>#menu>#desplegable {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 100%;
    list-style: none;
    padding: 0.5rem 0;
    top: 102px;
}

header>#menu>#desplegable>a {
    display: flex;
    width: 100%;
    text-decoration: none;
}

header>#menu>#desplegable>a>li {
    color: #0CB3D1;
    padding: 1rem;
    width: 100%;
    margin-left: 5%;
}

header>#menu>#desplegable>a:hover {
    background-color: rgb(250, 244, 244);
}

.underline {
    text-decoration: wavy underline #0CB3D1;
    text-decoration-thickness: 2px;
}

/*----------Seccion home-------------------*/
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E4F4F7;
}

#home>#contenedor-carrusel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0.5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    padding: 1.3rem;
}

#home>#cartas {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 5rem;
}

#home>#cartas>.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 40%;
    margin: 3rem 5%;
}

#home>#cartas>.card>h5 {
    margin: 1rem 0;
    font-family: 'Luckiest Guy', sans-serif;
}

#home>#cartas>.card>a {
    align-self: center;
    background-color: #F5AD3F;
    width: 45%;
    border: none;
    margin: 2rem 0;
}

#home>#cartas>.card>img {
    margin: 3rem;
    width: 70%;
}

/*------------------Single Product Movil-----------------------*/

#product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3rem 0;
}

#product-container>#product {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#product-container>#product>#product-imagen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
}

#product-container>#product>#product-imagen>img {
    max-width: 100%;
}

#product-container>#product>#product-imagen>span {
    font-family: 'Oswald Stencil';
}

#product-container>#product>#product-imagen>#product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#product-container>#product>#product-imagen>#product-form>span {
    font-family: 'Oswald Stencil';
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center
}

#product-container>#product>#product-imagen>#product-form>#product-units {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#product-container>#product>#product-imagen>#product-form>#product-units>#product-units-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

#product-container>#product>#product-imagen>#product-form>#product-units>#product-units-text>p {
    font-weight: 500;
    font-size: 15px;
    margin-top: 15px;
}

#product-container>#product>#product-imagen>#product-form>#product-units>#product-units-units {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
}


#product-container>#product>#product-imagen>#product-form>#product-units>#product-units-units>button {
    width: 40%;
}

#product-container>#product>#product-imagen>#product-form>#product-units>#product-units-units>span {
    width: 20%;
}

#product-container>#product>#product-imagen>#product-form>button {
    border: none;
    padding: 0.5rem;
    font-weight: 500;
    border-radius: 10px;
    color: rgb(39, 39, 39);
    background-color: #f1ac43;
    margin-top: 1rem;
    width: 100%;
}

#product-container>#product>#product-descripcion {
    align-self: center;
    width: 80%;
    margin-top: 2rem;
    text-wrap: pretty;
    text-align: justify;
    font-weight: 500;
}

#product-container h1 {
    font-family: 'Luckiest Guy', sans-serif;
    margin-top: 2rem;
}

#product-container h4,
h5 {
    font-family: 'Luckiest Guy', sans-serif;
}

#product-container>#alergenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
}

#product-container>#alergenos>ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
    border-top: 1px dashed #c9c9c9;
    width: 100%;
    margin-top: 1rem;
}

#product-container>#alergenos>ul>li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 0;
    padding-left: 2rem;
    border-bottom: 1px dashed #c9c9c9;
    vertical-align: middle;
}

#product-container>#alergenos>ul>li>img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#product-container>#alergenos>ul>li>span {
    width: 100%;
}

/*------------------Carrito-----------------------------*/

main#carrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}

main#carrito>h1 {
    font-family: 'Oswald Stencil';
    margin-top: 4rem;
}

main#carrito>section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

main#carrito>section>article {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

main#carrito>section>article>div {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

main#carrito>section>article>div>span {
    font-size: medium;
    font-weight: 500;
}

main#carrito>section>article>.article-imagen>img {
    max-height: 100px;
    max-width: 100%;
}

main#carrito>section>article>.article-botones>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#carrito>#modal-modificar {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

main#carrito>#modal-modificar>#modal-modificar-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 500px;
    top: 20%;
    width: 80%;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 20px;
}

main#carrito>#modal-modificar>#modal-modificar-contenido>#close-modal {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-self: center;
    width: 100%;
    padding: 1rem;
}

main#carrito>#modal-modificar>#modal-modificar-contenido>#close-modal>img {
    margin-right: 1rem;
}

main#carrito>#modal-modificar>#modal-modificar-contenido>img {
    max-height: 250px;
}

main#carrito>#modal-modificar>#modal-modificar-contenido>#product-units-units {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    width: 60%;
}

main#carrito>#modal-modificar>#modal-modificar-contenido>button {
    border: none;
    padding: 0.5rem;
    font-weight: 500;
    border-radius: 10px;
    color: rgb(39, 39, 39);
    background-color: #f1ac43;
    width: 60%;
    margin-top: auto;
    margin-bottom: 2rem;
}

main#carrito>section>article>.article-botones>form>button {
    width: 80%;
    margin: 0.5rem 0;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 0.3rem;
    color: white;
    font-weight: 500;
}

main#carrito>section>article>.article-botones>form>.btn-modificar {
    background-color: #58b5eb;
}

main#carrito>section>article>.article-botones>form>.btn-eliminar {
    background-color: #ee4e5e;
}

main#carrito>p {
    font-size: 1.5em;
    margin-top: 2rem;
}

main#carrito>a {
    display: inline;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem;
    font-size: medium;
    font-weight: 500;
    color: rgb(39, 39, 39);
    background-color: #f1ac43;
    border-radius: 5px;
    margin-top: 3rem;
}
main#carrito>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

/*-----------------------Pago----------------------------*/

main#pago{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    min-height: 50vh;
}

main#pago > .card-header{
    width: 80%;
    padding: .75rem 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #d5e4ef;
}

main#pago >.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

main#pago >.card-body > #miFormulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}
main#pago >.card-body > #miFormulario > #card-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

main#pago >.card-body > #miFormulario > #card-data >#card-data-number{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main#pago >.card-body > #miFormulario > #card-data >#card-data-number >input{
    width: 100%;
}

main#pago >.card-body > #miFormulario  span{
    color: red;
    font-size: small;
    font-weight: bold;
}

main#pago >.card-body > #miFormulario > #card-data > #card-data-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

main#pago >.card-body > #miFormulario > #card-data > #card-data-date >div{
    display: flex;
    flex-direction: column;
    width: 33.33%;
}

main#pago >.card-body > #miFormulario > #card-data > #card-data-date >div>input{
    max-width: 100%;
}

main#pago >.card-body > #miFormulario > #card-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main#pago >.card-body > #miFormulario > #card-name > #card-name-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

main#pago >.card-body > #miFormulario > #card-name > #card-name-container>input{
    width: 100%;
}


main#pago >.card-body > #miFormulario > #card-type{
    width: 100%;
}
main#pago >.card-body > #miFormulario > #card-type > #cards-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



main#pago >.card-body > #miFormulario >button{ 
    align-self: center;
    margin-top: 3rem;
}
main#pago >.card-body > div{
    margin-top: 3rem;
}

/*------------------Footer-------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #0b1733;
    height: 450px;
    width: 100%;
}

footer>#comentarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>#comentarios>* {
    margin-top: 1rem;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 14px;
}

footer>#telefono {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

footer>#telefono>span {
    font-size: 12px;
}


footer img {
    width: 22px;
    height: auto;
    margin-right: 0.5rem;

}

footer>#redes {
    display: flex;
    flex-direction: column;
    flex: 100%;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

footer>#redes>span {
    background-image: linear-gradient(to bottom, #0cb3d1, #e4f4f7 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
}

footer>#redes>div {
    display: flex;
    flex-direction: row;
    flex: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

footer>#redes>div>img {
    width: 22px;
    height: 22px;
    margin-right: 1rem;

}

footer>#disclaimer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

footer>#disclaimer>span {
    text-align: center;
    color: white;
    font-size: 12px;
}


/*Footer Escritorio*/

footer#footer-escritorio {
    display: none;
    flex-direction: column;
    height: 350px;
}


footer#footer-escritorio>:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer#footer-escritorio>:nth-child(1) img {
    width: 76px;
    height: auto;
    margin: 5rem 2.5rem 2rem 2.5rem;
}


footer#footer-escritorio>#comentarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    align-self: center;
}

footer#footer-escritorio>#comentarios>* {
    text-decoration: underline;
    font-family: Inter;
    font-style: italic;
    text-decoration-color: white;
    width: 16.66%;
    text-align: center;
    font-size: 16px;
}


footer#footer-escritorio>#desktop-disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
}

footer#footer-escritorio>#desktop-disclaimer>span {
    text-align: center;
    color: white;
    font-size: 1rem;
}

/*----------------Media queries----------------------------*/
@media (min-width: 375px) and (max-width: 450px) {

    .formulario {
        width: 80%;
    }
}

@media (min-width: 600px) {

    #product-container>#product>#product-imagen>#product-form>#product-units>#product-units-units>button {
        width: 33%;
    }

    #product-container>#product>#product-imagen>#product-form>#product-units>#product-units-units>span {
        width: 33%;
    }

    /*----------Carrito--------------*/
    main#carrito>#modal-modificar>#modal-modificar-contenido>#product-units-units>button {
        width: 40%;
    }

    /*----------------Pago-------------------*/
    main#pago >.card-body > #miFormulario > #card-data > #card-data-date{
        justify-content: space-between;
    }
    main#pago >.card-body > #miFormulario > #card-data > #card-data-date >div{
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    main#pago >.card-body > #miFormulario > #card-data > #card-data-date >:nth-child(1){
        align-self: flex-start;
    }
    main#pago >.card-body > #miFormulario > #card-data > #card-data-date >:nth-child(3){
        justify-self:end;
    }

    main#pago > .card-header{
        width: 70%;
    }
    main#pago >.card-body > #miFormulario > #card-type > #cards-images i{
       font-size: 1.5rem;
    }
}

@media (min-width: 800px) {

    #product-container>#product {
        width: 70%;
        flex-direction: row;
    }

    #product-container>#product>#product-descripcion,
    #product-imagen {
        width: 50%;
    }

    #product-container>#product>#product-descripcion {
        margin: 0;
        font-size: 20px;
    }

    #product-container>#product>#product-imagen>span {
        font-size: 15px;
    }

    #product-container>h1 {
        margin-top: 8rem;
    }

    #product-container>#alergenos {
        width: 60%;
    }

    #product-container>#alergenos>ul {
        flex-flow: row wrap;
    }

    #product-container>#alergenos>ul>li {
        flex: 50% 0;
        padding-left: 1rem;
    }

    /*-----------------Carrito-----------------*/
    main#carrito>#modal-modificar>#modal-modificar-contenido {
        width: 60%;
    }

    main#carrito>#modal-modificar>#modal-modificar-contenido>#product-units-units>button {
        width: 30%;
    }

    /*--------------------Pago*----------------------------*/
    main#pago >.card-body > #miFormulario{
        width: 50%;
    }
    main#pago > .card-header{
        width: 50%;
    }
}

@media (min-width: 1200px) {
    #product-container>#product>#product-imagen>span {
        font-size: 25px;
    }

    /*---------------Carrito-----------------*/
    main#carrito>section>article>.article-botones {
        width: 10%;
    }

    main#carrito>section>article>.article-botones {
        width: 40%;
    }

    main#carrito>section>article>.article-botones>form {
        flex-direction: row;
        justify-content: center;
    }

    main#carrito>section>article>.article-botones>form>button {
        width: 30%;
        margin: 0 10%;
    }

    main#carrito>#modal-modificar>#modal-modificar-contenido {
        width: 40%;
    }

    main#carrito>#modal-modificar>#modal-modificar-contenido>#product-units-units>button {
        width: 35%;
    }

    main#carrito>#modal-modificar>#modal-modificar-contenido>#product-units-units>button {
        width: 25%;
    }

    /*--------------------Pago*----------------------------*/
    main#pago >.card-body > #miFormulario{
        width: 40%;
    }
    main#pago > .card-header{
        width: 40%;
    }
}

@media (min-width: 1440px) and (max-width: 1700px) {

    .sidebar-div-border>:nth-child(2)>span {
        font-size: 13px;
    }

    .sidebar-div-border>:nth-child(1)>img {
        height: 50px;
    }

    #sidebar-header .sidebar-div-border img {
        width: 60px;
    }
}

@media (min-width:1440px) {

    header>#menu {
        display: none;
    }

    header>#menu-escritorio {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
    }

    header>#menu-escritorio>#lower-menu {
        width: 50%;
    }

    header>#menu-escritorio>#lower-menu>ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        align-items: stretch;
        justify-content: flex-start;
    }

    header>#menu-escritorio>#lower-menu>ul>a {
        width: 20%;
        text-decoration: none;
        color: black;
    }

    header>#menu-escritorio>#lower-menu>ul li {
        text-align: center;
        font-family: 'Oswald Stencil';
    }

    header>#menu-escritorio>#secondary-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
    }

    header>#menu-escritorio>#secondary-menu>#icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 30%;
    }

    header>#menu-escritorio>#secondary-menu>#icons>a {
        position: relative;
    }

    /*Productos escritorio*/
    #productos-movil {
        display: none;
    }

    #productos {
        display: flex;
        flex-flow: row;
        background-color: white;
        background-size: cover;
        margin: 4rem 0;
    }

    /*Parte izquierda-------------------------------------------*/
    #productos>#sidebar {
        width: 15%;
        margin-left: 5%;
    }

    /*Izquierda arriba*/
    #productos>#sidebar>#sidebar-header {
        display: flex;
        cursor: pointer;
        border: 2px solid lightgray;
        border-radius: 8px;
        box-shadow: 0px 2px 5px lightgray;
    }

    #productos>#sidebar a {
        text-decoration: none;
        width: 100%;
        color: black;
    }

    .clicked {
        cursor: default;
        color: #0CB3D1;
        border-left: 5px solid #0cb3d1;
    }

    .clicked-both {
        cursor: default;
        color: #0CB3D1;
        border-left: 5px solid #0cb3d1;
        border-radius: 6px;
    }

    .clicked-first {
        border-top-left-radius: 6px;
    }

    .clicked-end {
        border-bottom-left-radius: 6px;
    }

    .noClicked {
        border-left: 5px solid transparent;
    }

    .sidebar-div-border {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }

    #productos>#sidebar>#sidebar-list>.sidebar-div-border {
        cursor: pointer;
    }

    .sidebar-div-border>:nth-child(1) {
        justify-content: center;
        width: 30%;
        margin-right: 10px;
    }

    .sidebar-div-border>:nth-child(1)>img {
        min-width: 60px;
    }

    .sidebar-div-border>:nth-child(2) {
        width: 70%;
        text-align: left;
    }

    .sidebar-div-border>:nth-child(2)>span {
        font-family: 'Oswald Stencil';
    }

    .sidebar-div-border img {
        width: 80px;
        height: 80px;
    }

    /*izquierda abajo*/
    #productos>#sidebar>#sidebar-list {
        margin-top: 2rem;
        border: 2px solid lightgray;
        border-radius: 8px;
        box-shadow: 0px 2px 5px lightgray;
    }



    /*Parte derecha-------------------------------------*/
    #productos>#content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    #productos>#content>#content-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
    }

    #productos>#content>#content-header>h1,
    h2 {
        font-family: 'Luckiest Guy', sans-serif;
    }

    #productos>#content>#content-body {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: end;
        margin-top: 2rem;
        width: 90%;
    }

    #productos>#content>#content-body>a {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        flex: 20% 0;
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: 'Oswald Stencil';
        height: auto;
        margin-top: 3rem;
    }

    #productos>#content>#content-body>a>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    /*-------Single Product Escritorio ------------*/
    #product-container>#alergenos {
        width: 40%;
    }

    #product-container>#product>#product-imagen>span {
        font-size: 35px;
    }

    #product-container>#product>#product-imagen>#product-form>#product-units>#product-units-units>button {
        width: 20%;
    }

    #product-container>#product>#product-imagen>#product-form>#product-units>#product-units-units>span {
        width: 60%;
    }

     /*--------------------Pago*----------------------------*/
     main#pago >.card-body > #miFormulario{
        width: 30%;
    }
    main#pago > .card-header{
        width: 30%;
    }

    /*Footer*/
    footer {
        display: none;
    }

    footer#footer-escritorio {
        display: flex;
    }


}