/*Fondo del login y del registro*/
#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

/*Parte de los formularios del login como de el regsitro-------------------*/
body{
    min-width: 400px;
}
.formulario {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    width: 30%;
    margin: 0 auto;
    margin-top: 10rem;
    border-radius: 30px;
    border: 3px solid white;
    opacity: 0.7;
}

.formulario>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: 3rem 0;
    width: 80%;
}

.formulario>form input {
    width: 60%;
    margin: 1rem 0;
    border-radius: 10px;
    height: 2rem;
}

.formulario>h1 {
    color: white;
    align-self: center;
    margin-top: 1.5rem;
    font-weight: bolder;
}

.formulario>form>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.formulario>form>div>button {
    width: 80%;
}

.formulario>form>.containerPassword {
    position: relative;
    display: inline-block;
    width: 60%;
    margin: 0;
    padding: 0;
}

.formulario>form>.containerPassword>input {
    width: 100%;
}

.formulario>form>.containerPassword>img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.formulario>form>.containerPassword>:nth-child(3) {
    display: none;
}

.formulario small {
    visibility: hidden;
    font-size: 0.7rem;
    color: yellow;
}

.formulario>form>.error {
    margin: 0;
    color: red;
    font-weight: bold;
}

.formulario>form>span {
    color: white;
    margin-top: 1rem;
}

/*Parte de la pagina principal-----------------------------*/
#productos {
    display: flex;
    flex-flow: row;
    background-color: white;
    background-size: cover;
    margin-top: 4rem;
}

/*Parte izquierda-------------------------------------------*/
#productos>#sidebar {
    width: 15%;
    margin-left: 5%;
}

/*Izquierda arriba*/
#productos>#sidebar>#sidebar-header {
    display: flex;
    cursor: pointer;
    border: 2px solid lightgray;
    border-radius: 8px;
    box-shadow: 0px 2px 5px lightgray;
}

#productos>#sidebar a {
    text-decoration: none;
    width: 100%;
    color: black;
}

.clicked {
    cursor: default;
    color: #0CB3D1;
    border-left: 5px solid #0cb3d1;
}
.clicked-both{
    cursor: default;
    color: #0CB3D1;
    border-left: 5px solid #0cb3d1;
    border-radius: 6px;
}
.clicked-first{
border-top-left-radius: 6px;
}
.clicked-end{
    border-bottom-left-radius: 6px;
}

.noClicked {
    border-left: 5px solid transparent;
}

.sidebar-div-border {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#sidebar-list>.sidebar-div-border {
    cursor: pointer;
}

.sidebar-div-border>:nth-child(1) {
    width: 30%;
}

.sidebar-div-border>:nth-child(2) {
    width: 70%;
    text-align: left;
}

.sidebar-div-border>:nth-child(2)>span {
    font-family: 'Oswald Stencil';
}

.sidebar-div-border img {
    width: 100%;
    height: auto;
}

/*izquierda abajo*/
#productos>#sidebar>#sidebar-list {
    margin-top: 2rem;
    border: 2px solid lightgray;
    border-radius: 8px;
    box-shadow: 0px 2px 5px lightgray;
}



/*Parte derecha-------------------------------------*/
#productos>#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#productos>#content>#content-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

#productos>#content>#content-header>h1,
h2 {
    font-family: 'Luckiest Guy', sans-serif;
}

#productos>#content>#content-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 4rem;
    width: 90%;
}

#productos>#content>#content-body>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 20% 0;
    text-align: center;
}

#productos>#content>#content-body>div img {
    width: 60%;
}

header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border-bottom: 2px solid lightgrey;
}

header>div {
    display: flex;
    justify-content: center;
    width: 15%;
}

header>#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
}

header>#menu>#lower-menu {
    width: 35%;
}

header>#menu>#lower-menu>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 100%;
    align-items: stretch;
    justify-content: space-between;
}

header>#menu>#lower-menu>ul>a {
    width: 20%;
    text-decoration: none;
    color: black;
}

header>#menu>#lower-menu>ul li {
    text-align: center;
    font-family: 'Oswald Stencil';
}

header>#menu>#secondary-menu {
    width: 65%;
}

.underline {
    text-decoration: wavy underline #0CB3D1;
    text-decoration-thickness: 2px;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#E4F4F7;
}

#home>#contenedor-carrusel {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 60%;
    height: 68.5vh;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0.5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    padding: 1.3rem;
}

#home>#cartas {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    width: 100%;
}

#home>#cartas>.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex:40% 0;
    margin: 2rem 5%;
}

#home>#cartas>.card>h5 {
    margin: 1rem 0;
    font-family: 'Luckiest Guy', sans-serif;
}

#home>#cartas>.card>a {
    align-self: center;
    background-color: #F5AD3F;
    width: 45%;
    border: none;
    margin: 2rem 0;
}
#home>#cartas>.card>img{
    margin: 3rem;
    width: 50%;
}